body {
    background: url("/assets/img/gym.png") !important; 
    color: yellow;
}

button {
    color: blue;
}

h1 {
    text-align: center;
}

h2 {
    color: red;
}

hr {
    width: 80%;
    border: none;
    height: 5px;    
    background-color: yellow
}

header {
    padding-top: 10px;
}

footer {
    font-size: 1.7em;
    padding-bottom: 35px;
}

.ocat {
    height: 35px;
    width: 35px;
    border:0
}

/* OctoCat transformation effect */
.ocat:hover {
    /* transform: scale(5.25); */
    transition: 0.5s;
    width: 75px;
    height: 75px;